:root {
  --white: #fff;
  --black: #000;
  --red: #ff4f5e;
  --light-red: #fdc6c8;
  --dark-red: #b90010;
  --green: #b7d43f;
  --valid-green: #59cbb7;
  --near-black: #4a4a4a;
  --grey: #e7e5e2;
  --darker-grey: #e6e5e3;
  --light-grey: #f3f2f0;
  --lighter-grey: #f9f9f9;
  --desert-storm: #f3f2f1;
  --warm-grey: #959595;
  --blue: #629ff4;
  --dark-blue: #195ebf;
  --inactive-grey: #575757;
  --gradient-pink: #f89096;
  --gradient-purple: #b1b4e5;
  --link-color: var(--dark-blue);
  --override-z-index: 4;
  --header-z-index: 3;
  --top-z-index: 2;
  --middle-z-index: 1;
  --bottom-z-index: 0;
  --base-font-family: "Open Sans", sans-serif;
  --strong-font-family: "Zilla Slab", "Georgia", "Utopia", "Charter", serif;
  --font-size: 16px;
  --font-size-xs: 12px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 34px;
  --font-size-max: 48px;
  --standard-margin: 0.3rem;
  --wide-desktop-width: 1400px;
  --desktop-width: 76rem;
  --old-desktop-width: 55rem;
  --page-margin: 1rem;
  --input-height: 2.5rem;
  --spinner-height: 10rem;
  --card-shadow: rgba(0, 0, 0, 0.09) 0 1px 6px, rgba(0, 0, 0, 0.09) 0 1px 4px;
  --transition-duration: 0.2s;
  --transition-duration-slow: 0.5s;
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
  --header-height: 4rem;
  --nav-shadow-overhang: 0 2px 4px rgba(0, 0, 0, 0.03);
  --dataset-item-margin: 0.7rem;
  --profile-column-margin: 30px;
}

.contribution-wrapper {
  overflow: hidden;
}

.contribution-wrapper,
.contribution {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(20%, var(--white)),
    to(var(--desert-storm))
  );
  background-image: linear-gradient(
    to top,
    var(--white) 20%,
    var(--desert-storm)
  );
}

.contribution {
  position: absolute;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 30px 20px 30px 0;
  max-width: var(--wide-desktop-width);
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .contribution {
    padding: 20px 20px 20px 0;
  }
}

@media (min-height: 801px) {
  .contribution {
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .contribution {
    position: initial;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    overflow: visible;
  }
}

.contribution-tabs .tabs {
  display: none;
}

.contribution-tabs .tabs.active {
  display: block;
}

.contribution .button {
  min-width: auto;
}

@media (max-width: 767px) {
  .contribution .button {
    border: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .contribution .button {
    padding: 0 38px;
    height: 57px;
  }
}

.contribution .contribution-criteria {
  display: block;
  color: var(--black);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .contribution .contribution-criteria {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.contribution .contribution-criteria svg {
  fill: var(--black);
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
  vertical-align: text-bottom;
}

.contribution .contribution-criteria:hover {
  text-decoration: underline;
}

/* .contribution .counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.contribution .counter b {
  font-style: normal;
}

.contribution .counter svg {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  padding: 7px;
  background: var(--valid-green);
  border-radius: 50%;
}

.contribution .counter svg use,
.contribution .counter svg path {
  fill: var(--white);
}

.contribution .counter .text {
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  font-size: var(--font-size-xs);
  font-weight: normal;
  font-style: italic;
}

.contribution .counter.done {
  background: var(--white);
  border-radius: 29px;
  padding: 7px 20px 7px 7px;
  border: 2px solid var(--grey);
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;
}
 */
.contribution-tabs .top {
  padding: 1rem 2rem;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.contribution-tabs .top .back {
  width: 47px;
  height: 47px;
  background: var(--white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

[dir="rtl"] .contribution-tabs .top .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

@media (min-width: 768px) {
  .contribution-tabs .top .back {
    width: 57px;
    height: 57px;
  }
}

.contribution-tabs .top .mobile-break {
  display: block;
  width: 1px;
  height: 1px;
}

@media (min-width: 768px) {
  .contribution-tabs .top .mobile-break {
    display: none;
  }
}

.contribution-tabs .top .links {
  font-family: var(--strong-font-family);
}

@media (min-width: 768px) {
  .contribution-tabs .top .links {
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    -webkit-margin-start: 52px;
    margin-inline-start: 52px;
    font-size: 20px;
  }
}

.contribution-tabs .top .links a {
  padding-bottom: 6px;
  color: black;
}

@media (min-width: 768px) {
  .contribution-tabs .top .links a {
    padding-bottom: 12px;
  }
}

.contribution-tabs .top .links a:first-child {
  -webkit-margin-end: 40px;
  margin-inline-end: 40px;
}

.contribution-tabs .top .links a.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

/* @media (min-width: 768px) {
  .contribution-tabs .top .counter {
    display: none;
  }
}

.contribution-tabs .top .counter.done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contribution-tabs .top .counter.done {
    visibility: hidden;
  }
} */

.contribution-tabs .top .open-share {
  border: 2px solid var(--grey);
  border-radius: 50%;
  -webkit-margin-start: 20px;
  margin-inline-start: 20px;
  background: var(--white);
}

@media (max-width: 767px) {
  .contribution-tabs .top .open-share {
    width: 46px;
    height: 46px;
  }
  .contribution-tabs .top .open-share svg {
    width: 20px;
  }
}

@media (min-width: 768px) {
  .contribution-tabs .top .open-share {
    width: 57px;
    height: 57px;
  }
}

.contribution-tabs .top .open-share:hover {
  border-color: transparent;
  background: var(--near-black);
}

.contribution-tabs .top .open-share:hover path {
  fill: var(--white);
}

.contribution .instruction {
  margin-top: 23px;
  min-height: 23px;
  font-style: italic;
  color: var(--near-black);
}

@media (max-width: 767px) {
  .contribution .instruction {
    text-align: center;
  }
}

.contribution .hidden-md-up {
  display: none;
}

@media screen and (max-width: 600px) {
  .contribution .hidden-md-up {
    display: block;
  }
}

@media (min-width: 768px) {
  .contribution .instruction {
    margin-top: 4vh;
    margin-bottom: 20px;
  }
}

.contribution .instruction svg {
  color: #7a003c;
  margin: 0 5px;
  width: 23px;
  height: 23px;
  vertical-align: text-top;
}

.contribution .cards-and-pills {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 475px;
}

.contribution .cards-and-pills > :first-child {
  display: none;
  /* -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-margin-end: auto;
  margin-inline-end: auto; */
}

@media (min-width: 1200px) {
  .contribution .cards-and-pills > :first-child {
    display: block;
    width: 90%;
    overflow-x: hidden;
  }
}

.pill {
  border-radius: 29px;
  width: 46px;
  height: 46px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .pill {
    margin-top: 20px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    padding: 0 12px;
    width: 100%;
    height: 57px;
  }
  .pill:first-child {
    margin-top: 0;
  }
}

.pill .num {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 600;
  color: var(--near-black);
}

.pill .contents {
  display: none !important;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .pill .contents {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.pill.active {
  border: solid 2px var(--grey);
  background: var(--white);
}

.pill.active .num {
  color: white;
  background: var(--blue);
}

@media (min-width: 768px) {
  .pill.active .num {
    background: var(--warm-grey);
  }
}

.pill.done {
  background: var(--white);
  border: solid 2px var(--grey);
}

@media (min-width: 768px) {
  .pill.done {
    border: none;
    -webkit-padding-start: 6px;
    padding-inline-start: 6px;
  }
  .pill.done.closed {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }
  .pill.done .num {
    background: var(--desert-storm);
    border: solid 1px #f5f4f3;
  }
}

.pill.done .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pill.pending .num {
  background: var(--white);
}

.pill.open {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (--sm-down) {
  .pill.open {
    width: auto;
  }
}

.pill.open .contents {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.pill.open .num {
  border: solid 1px #f5f4f3;
  margin: 7px;
  background: var(--desert-storm);
}

@media (min-width: 768px) {
  .pill.open .num {
    margin: 0;
  }
}

.pill.recording.done .contents > * {
  height: 100%;
}

.pill.recording .text {
  margin: 0 12px;
  width: 133px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--warm-grey);
}

.pill.recording .padder {
  display: inline-block;
  -webkit-border-start: 1px solid var(--desert-storm);
  border-inline-start: 1px solid var(--desert-storm);
  padding: 0 16px;
}

.pill.recording .play .padder {
  -webkit-border-start: none;
  border-inline-start: none;
}

.pill.recording button {
  border: none;
  padding: 0;
  height: 100%;
}

.pill.recording button.play:hover path {
  fill: #fdbf57;
}

.pill.recording button.redo:hover path {
  fill: var(--red);
}

.pill.recording button.share:hover path {
  fill: var(--blue);
}

.pill.recording .placeholder {
  width: 110px;
}

.contribution .cards-and-instruction {
  height: 100%;
  width: 120%;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .contribution .cards-and-instruction {
    margin-top: 0;
    max-width: 120%;
  }
}

.contribution .cards-and-instruction .cards {
  position: relative;
  max-width: 700px;
  height: 200px;
  width: 100%;
}

@media (min-width: 768px) {
  .contribution .cards-and-instruction .cards {
    max-height: 430px;
    height: 43vh;
  }
}

.contribution .cards-and-instruction .card {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  overflow: auto;
  word-wrap: break-word;
  opacity: 1;
  -webkit-transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
  transition: opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
  transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing);
  transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
  -moz-transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
  -ms-transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
  -o-transition: transform var(--transition-duration-slow) var(--easing),
    opacity var(--transition-duration-slow) var(--easing),
    -webkit-transform var(--transition-duration-slow) var(--easing);
}

.contribution .cards-and-instruction .card.inactive {
  pointer-events: none;
  opacity: 0.9;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

@media (max-width: 767px) {
  .contribution .pills {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  /* .contribution .pills {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  } */
}

.contribution .pills .inner {
  position: relative;
  width: auto;
}

@media (min-width: 768px) {
  .contribution .pills .inner {
    margin-top: 0;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.contribution .pills .counter {
  display: none;
}

@media (min-width: 768px) {
  .contribution .pills .counter {
    margin-top: -38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contribution .primary-buttons {
  margin-top: 2vh;
}

@media (min-width: 768px) {
  .contribution .primary-buttons {
    margin-top: 8vh;
  }
}

@media (min-width: 1200px) {
  .contribution .primary-buttons {
    margin-top: 12vh;
  }
}

/* .contribution .primary-buttons canvas {
  position: absolute;
  width: 100% !important;
  max-width: calc(var(--wide-desktop-width) - 40px);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(3%, rgba(0, 0, 0, 0)),
    color-stop(black),
    color-stop(97%, rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 3%,
    black,
    rgba(0, 0, 0, 0) 97%
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(3%, rgba(0, 0, 0, 0)),
    color-stop(black),
    color-stop(97%, rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 3%,
    black,
    rgba(0, 0, 0, 0) 97%
  );
} */

#listen-player {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0;
  margin-top: -120px;
  /* bottom: 100px; */
  z-index: -1 !important;
}

.yes,
.no,
.play {
  position: relative !important;
  z-index: 4 !important;
}

.primary-buttons {
  position: relative;
  z-index: 2;
}

.contribution .buttons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .contribution .buttons {
    margin-top: 3.5vh;
  }
}

.contribution .buttons button img {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.contribution .buttons > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .contribution .buttons > * > :first-child {
    -webkit-margin-end: 20px;
    margin-inline-end: 20px;
  }
}

.contribution .buttons .skip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contribution .buttons .skip svg {
  -webkit-margin-start: 13px;
  margin-inline-start: 13px;
}

[dir="rtl"] .contribution .buttons .skip svg {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.contribution .buttons .submit {
  margin: 0;
}

@media (max-width: 767px) {
  .contribution .buttons .submit {
    display: none;
  }
}

.contribution .buttons .submit.disabled button {
  cursor: default;
  color: var(--warm-grey);
  background: var(--desert-storm);
}

.contribution .buttons .submit.disabled .background {
  display: none;
}

.contribution .buttons .submit button {
  border: none;
  border-radius: 50px;
  width: 178px;
  height: 57px;
  color: var(--white);
  background: var(--blue);
  text-transform: uppercase;
  font-family: var(--base-font-family);
  font-weight: 600;
}

.contribution .buttons .submit .background {
  border-radius: 50px;
  margin-top: 10px;
  width: 187px;
  height: 63px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#f6cf8b),
    to(#fdbf57)
  );
  background: linear-gradient(270deg, #f6cf8b, #fdbf57);
  opacity: 0;
}

.contribution.submittable .cards,
.contribution.submittable .instruction,
.contribution.submittable .primary-buttons,
.contribution.submittable .buttons button[type="button"],
.contribution.submittable .extra-button {
  display: none;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  pointer-events: none;
}

@media (min-width: 768px) {
  .contribution.submittable .cards,
  .contribution.submittable .instruction,
  .contribution.submittable .primary-buttons,
  .contribution.submittable .buttons button[type="button"],
  .contribution.submittable .extra-button {
    display: initial;
  }
}

@media (max-width: 767px) {
  .contribution.submittable .top .counter {
    visibility: hidden;
  }
  .contribution.submittable .pills .counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contribution.submittable .pills .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contribution.submittable .pills .inner .pill {
    margin-bottom: 20px;
  }
  .contribution.submittable .buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contribution.submittable .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 46px;
  }
}

.contribution .review-instructions {
  font-style: italic;
}

@media (max-width: 767px) {
  .contribution .review-instructions {
    margin-bottom: 20px;
    max-width: 120px;
    text-align: center;
    font-size: var(--font-size-xs);
  }
}

@media (min-width: 768px) {
  .contribution .review-instructions {
    position: absolute;
    right: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--font-size-xl);
    width: 338px;
    text-align: end;
    -webkit-padding-end: 40px;
    padding-inline-end: 40px;
  }
}

.contribution .text-button {
  font-size: var(--font-size-xs);
  font-weight: 600;
  text-decoration: underline;
}

.contribution .text-button:hover {
  color: var(--blue);
  -webkit-text-decoration-color: var(--blue);
  text-decoration-color: var(--blue);
}

.contribution .card-dimensions {
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.38;
  background: var(--white);
}

@media (min-width: 768px) {
  .contribution .card-dimensions {
    padding: 0 25px;
    font-size: var(--font-size-xl);
    font-weight: normal;
    letter-spacing: 1.3px;
    line-height: 1.63;
  }
}

@media (min-width: 992px) {
  .contribution .card-dimensions {
    padding: 0 80px;
  }
}

.contribution .empty-container {
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contribution .error-card {
  margin: 75px auto;
  padding: 30px 25px;
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--white);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
}

.contribution .error-card h1 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.contribution .error-card p {
  font-size: 1.25em;
}

@media (min-width: 768px) {
  .contribution .error-card {
    padding: 120px 105px;
  }
}

.contribution .error-card .button {
  margin-top: 30px;
  border: none;
  background: var(--red);
  -webkit-box-shadow: 0 5px 10px color-mod(var(--red) opacity(50%));
  box-shadow: 0 5px 10px color-mod(var(--red) opacity(50%));
  text-transform: uppercase;
}

.contribution .error-card .button:hover {
  color: var(--white);
  opacity: 1;
  background: var(--red);
  -webkit-box-shadow: 0 5px 10px var(--red);
  box-shadow: 0 5px 10px var(--red);
}

.contribution .error-card .button:hover path {
  fill: var(--white);
}

.contribution .sentence-taxonomy {
  border-top: 1px solid var(--grey);
  background: var(--lighter-grey);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--warm-grey);
}

.contribution .sentence-taxonomy span {
  display: inline-block;
}

@media (max-width: 767px) {
  .contribution .sentence-taxonomy {
    font-size: 14px;
    padding: 0.75rem;
  }
}

.contribution .taxonomy-link,
.contribution .taxonomy-message {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .contribution .taxonomy-message {
    white-space: normal;
  }
}

.contribution .taxonomy-link {
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  margin: 0 1rem;
}

.contribution .taxonomy-link svg {
  width: 20px;
  height: 20px;
  margin: 0 0.5rem;
}

.contribution .taxonomy-link svg path {
  fill: var(--blue);
}

@media (max-width: 767px) {
  .contribution .taxonomy-link {
    font-size: 90%;
    margin-top: 5px;
  }
}

.shortcuts-modal {
  padding: 80px !important;
  max-width: 770px !important;
}

.shortcuts-modal h1 {
  margin-bottom: 50px;
  font-size: var(--font-size-xxl);
  font-weight: normal;
}

.shortcuts-modal .shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shortcuts-modal .shortcuts .shortcut {
  -webkit-margin-end: 50px;
  margin-inline-end: 50px;
  width: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shortcuts-modal .shortcuts .shortcut:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

.shortcuts-modal .shortcuts kbd {
  border-radius: 4px;
  border: solid 1px color-mod(var(--black) opacity(5%));
  margin-bottom: 10px;
  width: 57px;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-family: var(--base-font-family);
}

.shortcuts-modal .shortcuts .label {
  font-size: var(--font-size-xs);
  font-style: italic;
  color: var(--warm-grey);
  line-height: 1.5;
}

.primary-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 18px;
}

@media (--md-up) {
  .primary-button {
    margin: 0 40px;
  }
}

.primary-button .background {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-filter: blur(7.6px);
  filter: blur(7.6px);
  -webkit-transition: opacity var(--transition-duration) linear;
  transition: opacity var(--transition-duration) linear;
  will-change: opacity;
}

@media (--md-up) {
  .primary-button .background {
    width: 109px;
    height: 109px;
  }
}

.primary-button button,
.primary-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: var(--top-z-index);
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: var(--white);
}

@media (--md-up) {
  .primary-button button,
  .primary-button a {
    width: 88px;
    height: 88px;
  }
}

.primary-button button:hover,
.primary-button a:hover {
  opacity: 1;
}

.primary-button button svg,
.primary-button a svg {
  height: 24px;
}

@media (--md-up) {
  .primary-button button svg,
  .primary-button a svg {
    height: 28px;
  }
}

.primary-button.play svg {
  height: 22px;
}

.primary-button.play svg path {
  fill: #fdbf57;
}

.primary-button.record .background,
.primary-button.play .background {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#f6cf8b),
    to(#fdbf57)
  );
   background: linear-gradient(270deg, #f6cf8b, #fdbf57);
  opacity: 0.6;
}

.primary-button.stop .background {
  opacity: 0.4;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff0080),
    to(#900149)
  );
  background: linear-gradient(to right, #ff0080, #900149);
}

.primary-button.stop button {
  color: #7a003c !important;
}

.primary-button:hover .background {
  opacity: 1 !important;
}

.button.outline {
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  color: var(--black);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button.outline:hover{
  border-color: black;
}

.owl-item {
  min-width: 700px !important;
  min-height: 350px !important;
}

.cards .owl-stage {
  display: flex;
}

.cards .owl-stage-outer {
  overflow: unset;
}