:root {
  --toggle-padding: 10px;
}

.avatar-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  overflow: hidden;
  background: var(--gradient-pink);
}

.avatar-wrap > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.avatar-wrap .mars-avatar {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  position: relative;
  padding: 0.5rem 1rem;
  min-width: 14rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--base-font-family);
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--near-black);
  outline: none;
  -webkit-transition: all var(--transition-duration) linear;
  transition: all var(--transition-duration) linear;
  background: var(--black);
  color: var(--white);
  width: 100%;
}

@media (--lg-up) {
  .button {
    width: auto;
    height: auto;
  }
}

.button.isBig {
  font-size: 1.15em;
}

@media (--lg-up) {
  .button.isBig {
    padding: 1em 2em;
  }
}

.button.outline {
  border-radius: 4px;
  border: solid 1px color-mod(var(--black) opacity(10%));
  background-color: var(--white);
  color: var(--black);
}

.button.rounded {
  border-radius: 50px;
}

.button path {
  -webkit-transition: all var(--transition-duration) linear;
  transition: all var(--transition-duration) linear;
}

body:not(.mobile-safari) .button:hover,
.button:focus.focus-visible {
  background-color: var(--white);
  color: var(--black);
}

body:not(.mobile-safari) .button.outline:hover,
.button.outline:focus.focus-visible {
  border-color: black;
}

body:not(.mobile-safari) .button:hover path,
.button:focus.focus-visible path {
  fill: var(--black);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.card-action {
  border: none;
  padding: 0.8rem 1.2rem;
  min-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--base-font-family);
  font-weight: 600;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0 2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 0 2px;
  background: white;
  white-space: nowrap;
  text-transform: none;
  -webkit-animation: fade-in var(--transition-duration);
          animation: fade-in var(--transition-duration);
}

body:not(.mobile-safari) .card-action:hover,
body:not(.mobile-safari) .button.card-action:hover,
.card-action:focus.focus-visible,
.button.card-action:focus.focus-visible {
  outline: none;
  margin: 1px -1px -1px 1px;
  background: white;
  color: var(--black);
  opacity: 0.8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body:not(.mobile-safari) .button.card-action:hover path,
button.card-action:focus.focus-visible path {
  fill: var(--black);
}

@media (--xs-down) {
  .card-action {
    white-space: normal;
  }
}

.hr {
  border: none;
  margin: 1.5rem 0;
  width: 100%;
  height: 1.5px;
  background-color: rgba(230, 229, 227, 0.6);
}

.checkbox-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  position: relative;
  border: 1.6px solid var(--near-black);
  border-radius: 2px;
  width: 15px;
  height: 15px;
}

.checkbox-container:focus-within {
  border-width: 3px;
}

.checkbox-container:focus-within .checkmark {
  top: -7.5px;
}

.checkbox-container input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none !important;
  outline: none !important;
  background: transparent;
}

.checkbox-container .checkmark {
  width: 100%;
  display: none;
  position: absolute;
  top: -6px;
  pointer-events: none;
}

.checkbox-container input:checked {
  background: --var(near-black);
}

.checkbox-container input:checked ~ .checkmark {
  display: block;
}

.labeled-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.labeled-form-control,
.checkbox-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.labeled-form-control :required,
.labeled-form-control :valid,
.checkbox-container :required,
.checkbox-container :valid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.labeled-form-control .label,
.checkbox-container .label {
  -webkit-margin-start: 9px;
          margin-inline-start: 9px;
  padding: 0 5px;
  position: absolute;
  top: -8px;
  z-index: var(--middle-z-index);
  background: var(--white);
  font-size: var(--font-size-xs);
  color: var(--near-black);
}

.labeled-form-control input,
.labeled-form-control select,
.labeled-form-control textarea,
.checkbox-container input,
.checkbox-container select,
.checkbox-container textarea {
  border: 1.6px solid #e6e4e1;
  border-radius: 2px;
  padding: 13px;
  font-size: var(--font-size);
  font-family: var(--base-font-family);
  color: var(--black);
  background-color: var(--white);
}

.labeled-form-control input:focus,
.labeled-form-control select:focus,
.labeled-form-control textarea:focus,
.checkbox-container input:focus,
.checkbox-container select:focus,
.checkbox-container textarea:focus {
  border-color: var(--black);
}

.labeled-form-control input:disabled,
.labeled-form-control select:disabled,
.labeled-form-control textarea:disabled,
.checkbox-container input:disabled,
.checkbox-container select:disabled,
.checkbox-container textarea:disabled {
  color: var(--warm-grey);
  cursor: not-allowed;
}

.labeled-form-control.for-select .wrapper,
.checkbox-container.for-select .wrapper {
  position: relative;
}

.labeled-form-control.for-select .wrapper select,
.checkbox-container.for-select .wrapper select {
  cursor: pointer;
  -webkit-padding-end: 33px;
          padding-inline-end: 33px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.menu-icon {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.menu-icon rect {
  -webkit-transition: -webkit-transform var(--transition-duration) var(--easing);
  transition: -webkit-transform var(--transition-duration) var(--easing);
  transition: transform var(--transition-duration) var(--easing);
  transition: transform var(--transition-duration) var(--easing), -webkit-transform var(--transition-duration) var(--easing);
}

.menu-icon.active .left {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.menu-icon.active .right {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.spinner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: spinner-fade-in 0.5s ease-in forwards;
          animation: spinner-fade-in 0.5s ease-in forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
}

.spinner .spinner__shape {
  border-radius: 50%;
  display: inline-block;
  height: var(--spinner-height);
  width: var(--spinner-height);
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  background-color: var(--black);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) linear;
  transition: opacity var(--transition-duration) linear;
}

.spinner--light .spinner__shape {
  background-color: var(--white);
}

.spinner--floating {
  pointer-events: none;
  z-index: var(--middle-z-index);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: spinner-fade-in 0.5s ease-in forwards;
          animation: spinner-fade-in 0.5s ease-in forwards;
}

.spinner--floating .spinner__shape {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@-webkit-keyframes spinner-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-button {
  border: none;
  background: none;
  font-family: var(--base-font-family);
}

.toggle-input {
  border-radius: 25px;
  padding: 0 var(--toggle-padding);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  background: #9b9b9b;
}

.toggle-input input {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.toggle-input input::before {
  content: '';
  border-radius: 25px;
  position: absolute;
  left: 0;
  width: calc(50% + var(--toggle-padding));
  height: 100%;
  background: var(--valid-green);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: background linear var(--transition-duration), -webkit-transform var(--easing) var(--transition-duration);
  transition: background linear var(--transition-duration), -webkit-transform var(--easing) var(--transition-duration);
  transition: transform var(--easing) var(--transition-duration), background linear var(--transition-duration);
  transition: transform var(--easing) var(--transition-duration), background linear var(--transition-duration), -webkit-transform var(--easing) var(--transition-duration);
}

.toggle-input input:checked::before {
  -webkit-transform: translateX(calc(100% - 2 * var(--toggle-padding)));
          transform: translateX(calc(100% - 2 * var(--toggle-padding)));
}

.toggle-input div {
  z-index: var(--middle-z-index);
  pointer-events: none;
  margin: 0 25px;
}
/*# sourceMappingURL=pills.css.map */