@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@600&family=Zilla+Slab:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.text-button {
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

/* Landing page */

.header {
  border-bottom: 1px solid #f3f2f0;
  padding: 1rem;
}

.header .logo img {
  width: 10rem;
}

.header .logo {
  width: 14rem;
}

.header nav a {
  color: #000;
}

.header nav a:hover {
  color: initial;
}

.header .count img {
  width: 1.2rem;
}

.header .count span {
  font-size: 1rem;
  font-weight: 800;
}

.header .count .speaking-count {
  color: #ff4f5e;
}

.header .count .listening-count {
  color: #59cbb7;
}

.header .count .divider {
  /* border-inline-end: 1px solid #e6e5e3; */
  background-color: #ededf0;
  /* border-top: 1px solid #e6e5e3; */
  margin: 1.5px 0.5rem;
  padding: 0;
  height: 1.2rem;
  width: 1px;
}

.header button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: black;
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
}

.hero-section .hero-box {
  min-height: 500px;
  padding: 130px 100px 0;
  width: 100%;
  position: relative;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section .hero-box:before {
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: opacity linear 0.5s;
  width: 100%;
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -ms-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
}

.hero-section .speak::before {
  background-image: url(../imgs/speak.svg);
}

.hero-section .listen::before {
  background-image: url(../imgs/listen.svg);
}

.primary-button a {
  width: 88px;
  height: 88px;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
}

.primary-button .background {
  border-radius: 50%;
  filter: blur(7.6px);
  height: 80px;
  margin: 0 auto;
  position: absolute;
  transition: opacity 0.2s linear;
  width: 80px;
  will-change: opacity;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-filter: blur(7.6px);
}

.hero-box .primary-button .background {
  height: 100px;
  width: 100px;
}

.primary-button.play .background,
.primary-button.record .background {
  background: linear-gradient(270deg, #88d1f1, #b1b5e5);
  opacity: 0.5;
}
.primary-button.stop .background {
  background: linear-gradient(to right, #f89096, #b1b4e5);
  opacity: 0.7;
}
.primary-button:hover .background {
  opacity: 1 !important;
}

.hero-box .primary-button svg {
  width: 2.2rem;
  height: 2.2rem;
}

.primary-button a {
  z-index: 1;
}

.hero-box .toggleable {
  opacity: 0;
  transform: translateY(50px);
  transition: width 0.5s linear, height 0.5s linear, opacity 0.2s,
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-box.active:before {
  opacity: 1;
}

.hero-box.active .toggleable {
  opacity: 1;
  transform: translateY(0);
  transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -moz-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -ms-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -o-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.hero-box.active .primary-button.stop a {
  background: #ff4f5e;
}

.hero-box.active .primary-button.stop a path {
  fill: white;
}

.hero-box.active .primary-button.play a {
  background: #59cbb7;
}

.hero-box.active .primary-button.play a path {
  fill: white;
}

.hero-box .fading {
  background: url(../imgs/fading.svg);
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-box.listen .fading {
  left: -1px;
  transform: scaleX(-1);
}

.hero-box.speak .fading {
  left: auto;
  right: -1px;
}

.hero-box a.terms {
  color: #629ff4;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: underline;
}

.hero-box .line.listen {
  background: #59cbb7;
}

.hero-box.listen .fading {
  left: -1px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/* About section */

.about-section .text {
  background: #f9f9f8;
}
@media (max-width: 767px) {
  .about-section .text {
    padding: 30px 20px 15px;
  }
}
@media (min-width: 768px) {
  .about-section .text {
    padding: 95px 20px 225px;
  }
  /* .about-section .text .description,
    .about-section .text .title {
      max-width: 570px;
      width: 50%;
    } */
}
.about-section .text .title h1 {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .about-section .text .title h1 {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .about-section .text .title h1 {
    font-size: 34px;
    max-width: 520px;
  }
  /* .about-section .text .description {
      width: 50%;
    } */
}
.about-section .text .description p {
  color: #4a4a4a;
  line-height: 1.5;
  max-width: 475px;
}
.about-section .text .show-more {
  border: none;
  color: #629ff4;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 0;
  text-transform: uppercase;
}

/* Stats section */
@media (min-width: 992px) {
  .stats-section .stats {
    margin-bottom: -70px;
  }
  .stats-section .stats > * {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
  }
}

.language-select {
  position: relative;
}
.language-select .current {
  background: url(../imgs/down-arrow.svg) no-repeat 90% center;
  background-size: 10px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  max-height: 50px;
  min-width: 220px;
  padding: 13px 45px 13px 22px;
}
.language-select .current:hover {
  background-color: #f3f2f1;
}
@media (max-width: 991px) {
  .language-select .current {
    margin-top: 15px;
  }
}
.language-select ul {
  background: white;
  box-shadow: 0 2px 5px 0 #f3f2f0;
  color: #4a4a4a;
  list-style: none;
  margin: 1px 0 0;
  max-height: 190px;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.language-select ul li {
  border-bottom: 1px solid #f3f2f0;
  cursor: pointer;
  padding: 13px 22px;
}
.language-select ul li:last-child .line {
  border-bottom: 0;
}
.language-select ul li.selected {
  font-weight: 600;
}
.language-select ul li.highlighted {
  background: #f3f2f0;
}
.plot {
  height: 170px;
  margin-top: 28px;
}
.plot .tick-label {
  fill: #959595;
  font-size: 12px;
}
.plot rect.bg {
  fill: #e7e5e2;
}
.plot rect.current {
  fill: #59cbb7;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.home-card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 6px, rgba(0, 0, 0, 0.09) 0 1px 4px;
  max-width: 570px;
  padding: 25px 30px;
  width: 100%;
}
.home-card .head {
  min-height: 63px;
}
.home-card .metrics > * {
  border-inline-end: 1px solid #e7e5e2;
  padding: 0 15px;
}
.home-card .metrics > :first-child {
  padding-inline-start: 0;
}
.home-card .metrics > :last-child {
  border-inline-end: none;
}
.home-card .metric .label {
  color: #959595;
  font-size: 12px;
  letter-spacing: 0.5px;
  min-height: 32px;
}
.home-card path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
  -webkit-animation: dash 1s linear forwards;
}
.home-card path.total {
  stroke: #ff4f5e;
}
.home-card path.valid {
  stroke: #59cbb7;
}
.home-card path.unverified {
  stroke: #629ff4;
}
.home-card circle {
  animation: fade-in 0.2s linear 0.5s forwards;
  opacity: 0;
  -webkit-animation: fade-in 0.2s linear 0.5s forwards;
}
.home-card circle.inner.total {
  fill: #ff4f5e;
}
.home-card circle.inner.valid {
  fill: #59cbb7;
}
.home-card circle.inner.unverified {
  fill: #629ff4;
}
.home-card circle.outer.total {
  filter: drop-shadow(0 3px 3px #ff4f5e);
  -webkit-filter: drop-shadow(0 3px 3px #ff4f5e);
}
.home-card circle.outer.valid {
  filter: drop-shadow(0 3px 3px #59cbb7);
  -webkit-filter: drop-shadow(0 3px 3px #59cbb7);
}
.home-card circle.outer.unverified {
  filter: drop-shadow(0 3px 3px #629ff4);
  -webkit-filter: drop-shadow(0 3px 3px #629ff4);
}
.home-card h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.home-card .online-voices {
  color: #59cbb7;
  font-size: 24px;
  font-weight: 600;
}
.metric-value {
  font-weight: 600;
}
.metric-value.total {
  color: #ff4f5e;
}
.metric-value.valid {
  color: #59cbb7;
}
.metric-value.unverified {
  color: #629ff4;
}
.metric-value .point {
  font-size: 20px;
  margin-inline-end: 6px;
  margin-top: -3px;
}

/* Login/Signup Page */

.login-section {
  background-color: #ededf0;
  min-height: 100vh;
}

.form-container h2 {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 0 5px;
}

.form-container form {
  row-gap: 20px;
  /* width: 360px; */
}

.form-container form input {
  font-size: 100%;
  background-color: #ededf0;
  border: 1px solid #fff;
  border-radius: 0.2em;
  padding: 0.5em 0.9em;
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.form-container form input:hover,
.form-container form input:focus {
  border: 1px solid #0060df;
  outline: none;
}

.form-container form .btn {
  background-color: #0060df;
  color: white;
}

.form-container form .btn:hover {
  background-color: transparent;
  border: 1px solid #0060df;
  color: #0060df;
}

.form-container label {
  position: absolute;
  margin-top: -35px;
  margin-left: 10px;
}

.form-container input:focus + label {
  color: #0060df;
  margin-top: -65px;
  font-size: 0.85rem;
}

.form-container .loginBtns {
  border-color: #b1b1b3;
  color: #000;
  padding: 0.93em 1.14em;
  font-size: 87.5%;
  letter-spacing: 0.04em;
  line-height: 1.57;
  border: 1px solid #b1b1b3;
}

.form-container .loginBtns:hover {
  background-color: black !important;
  color: white;
}

.form-container .loginBtns .github-icon-white {
  display: none;
}

.form-container .loginBtns:hover .github-icon-white {
  display: block;
}

.form-container .loginBtns:hover .github-icon-default {
  display: none;
}

.form-container .loginBtns img,
.form-container .loginBtns span {
  margin-right: auto;
  align-self: center;
}

.form-container .loginBtns img {
  width: 1.29em;
  height: 1.29em;
  display: inline-block;
  vertical-align: middle;
}

.form-container .bottom-links a {
  text-decoration: none;
  color: black;
  padding: 0 1em;
  font-size: 0.75em;
}

/* Registration Section */

.register-section {
  overflow-x: hidden;
}

.register-section .top {
  max-width: 76rem;
}

@media (max-width: 767px) {
  .register-section .top .images-container {
    width: 100%;
  }
}

.register-section .top .images-container .mars {
  width: 290px;
  z-index: 1;
}

.register-section .top .images-container .screenshot {
  max-width: 500px;
}

.register-section h1,
.register-section h2 {
  max-width: 450px;
  width: 100%;
}
.register-section h1 {
  font-family: "Zilla Slab", "Georgia", "Utopia", "Charter", serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.register-section h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
.register-section .button {
  background: #629ff4;
  color: white;
  height: 57px;
  max-width: 270px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  height: 3rem;
  min-width: 14rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.register-section .button:hover {
  border: 1px solid #629ff4 !important;
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  .register-section.flipped .top {
    flex-direction: row-reverse;
  }
  .register-section.flipped .waves {
    transform: scaleX(-1) translateX(60%);
    z-index: 0;
  }
  .register-section.flipped .bg {
    left: auto;
    right: 0;
  }
}
[dir="rtl"] .signup-info .tabs .waves {
  transform: scaleX(-1);
}
.signup-info {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .signup-info {
    max-width: 550px;
  }
}
.signup-info .tabs {
  border-bottom: 2px solid #f3f2f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.signup-info .tabs .waves {
  bottom: -5px;
  pointer-events: none;
  position: absolute;
  width: 100vw;
}
.signup-info .tabs label {
  color: #959595;
  cursor: pointer;
  min-width: 120px;
}
.signup-info .tabs div {
  padding-bottom: 14px;
  position: relative;
  top: 1px;
}
.signup-info .tabs input {
  display: none;
}
.signup-info .tabs :checked + div {
  border-bottom: 2px solid black;
  color: black;
}
.signup-info .list-and-bg {
  position: relative;
}
.signup-info .bg {
  background-image: linear-gradient(to bottom, #f3f2f1 3%, hsla(0, 8%, 97%, 0));
  height: 100%;
  left: 0;
  position: absolute;
  width: 100vw;
}
.signup-info ul {
  background: white;
  list-style: none;
  margin-top: 0;
  overflow: auto;
  padding: 30px 20px;
  position: relative;
}
@media (max-width: 767px) {
  .signup-info ul {
    max-height: 50vh;
  }
}
@media (min-width: 768px) {
  .signup-info ul {
    max-height: 450px;
  }
}
.signup-info li {
  color: #4a4a4a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 40px 80px 40px 30px;
}
.signup-info li.active {
  background: #f3f2f1;
  color: black;
}
.signup-info li :first-child {
  flex-shrink: 0;
  width: 30px;
}

/* Footer */

footer {
  background-color: black;
  flex-shrink: 0;
}
#help-links {
  background-color: #f3f2f0;
  height: 6rem;
}
@media (min-width: 768px) {
  #help-links {
    height: 9.3rem;
  }
}
#help-links a,
#help-links button {
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  width: 10rem;
  color: black;
}
@media (min-width: 768px) {
  #help-links a,
  #help-links button {
    font-size: 16px;
  }
}
#help-links a:hover,
#help-links button:hover {
  opacity: 0.6;
}
#help-links img {
  margin-bottom: 0.3rem;
  width: 21px;
}
@media (min-width: 768px) {
  #help-links img {
    width: 26px;
  }
}
#help-links .divider {
  border-right: 2px solid #a9a9a9;
  height: 2.5rem;
}
@media (min-width: 768px) {
  #help-links .divider {
    display: block;
  }
}
#moz-links {
  color: white;
  font-size: 0.9rem;
  height: 100%;
  padding: 1rem;
}
@media (min-width: 1200px) {
  #moz-links {
    margin: 0 auto;
    max-width: 76rem;
    padding: 0.4rem 0;
    width: 100%;
  }
  #moz-links > * {
    margin: 2rem 0;
  }
}
#moz-links a {
  color: #959595;
}
#moz-links a:hover {
  color: #629ff4;
}
#moz-links .logo-container {
  flex: 1;
  margin-top: 4rem;
}
@media (min-width: 1200px) {
  #moz-links .logo-container {
    margin-right: 8rem;
    margin-top: 0;
    min-width: 9rem;
  }
}
#moz-links .logo-container .Logo {
  font-size: 1rem;
  padding-right: 4rem;
}
#moz-links .logo-container .Logo,
#moz-links .logo-container .LogoImage {
  height: 2.5rem;
  max-height: 2.5rem;
}
@media (min-width: 1200px) {
  #moz-links .logo-container .Logo,
  #moz-links .logo-container .LogoImage {
    height: auto;
  }
}
#moz-links .logo-container .license {
  font-size: 0.7rem;
}
@media (min-width: 1200px) {
  #moz-links .logo-container .license {
    margin-top: 1.5rem;
  }
}
#moz-links .divider-bottom {
  border-top: 1px solid #333;
  display: block;
  margin-top: 1em;
  width: 20rem;
}
@media (min-width: 768px) {
  #moz-links .divider-bottom {
    display: none;
  }
}
#moz-links .links {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 1200px) {
  #moz-links .links {
    margin-right: 4rem;
    margin-top: 0;
    max-width: 18rem;
    padding: 0;
  }
}
#moz-links .links a {
  margin-bottom: 8px;
}
#moz-links .links > div {
  display: flex;
  flex-direction: column;
}
#moz-links .links .divider-vertical {
  border-right: 1px solid #333;
  height: 4.1rem;
}
#moz-links .back-top {
  color: #fff;
  margin-top: 1rem;
  order: -1;
  text-align: center;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  #moz-links .back-top {
    display: none;
  }
}
#moz-links :focus.focus-visible {
  outline: 1px solid #fff;
}
#sharing {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 260px;
  padding: 1.5rem 2rem;
}
#sharing .title {
  color: #959595;
  font-family: sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}
#sharing .icons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
#sharing .icons > * {
  margin: 0 21px;
}

#sharing .icons span {
  font-size: 200%;
  color: white;
}

#sharing .icons span:hover {
  color: #629ff4;
}

#link-copy {
  background: transparent;
  border: none;
  padding: 0;
  width: auto;
}
#link-copy:active {
  color: black;
}
#link-copy:hover {
  color: #629ff4;
}
#link-copy input {
  left: 1000rem;
  position: fixed;
  top: 1000rem;
}

#email-subscription {
  align-items: center;
  display: flex;
  flex: 1.5;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  #email-subscription {
    padding: 1.5rem 2rem;
  }
}
.subscribe-newsletter {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.subscribe-newsletter .goal-title,
.subscribe-newsletter .title {
  color: #959595;
  margin-bottom: 10px;
}
.subscribe-newsletter .title {
  font-weight: 600;
  text-transform: uppercase;
}
.subscribe-newsletter .goal-title {
  font-size: 14px;
  line-height: 1.71;
}
.subscribe-newsletter .submittable-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.subscribe-newsletter button,
.subscribe-newsletter input {
  height: 42px;
}
.subscribe-newsletter input {
  background: hsla(0, 0%, 100%, 0.1);
  border: none;
  flex: 6;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}
.subscribe-newsletter input:focus {
  outline: none !important;
}
.subscribe-newsletter input.has-value,
.subscribe-newsletter input:focus {
  background: white;
}
.subscribe-newsletter input::placeholder {
  color: #959595;
}
.subscribe-newsletter button {
  align-self: flex-end;
  border: none;
  outline: none;
  position: relative;
  transition: all 0.3s;
  width: 45px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.subscribe-newsletter .submit-button {
  background-color: #629ff4;
}
.subscribe-newsletter .submit-button .icon {
  height: 12px;
}
.subscribe-newsletter .success-button {
  background-color: #59cbb7;
}
.subscribe-newsletter .success-button .icon {
  height: 25px;
}
.subscribe-newsletter .error-button {
  background-color: #ff4f5e;
}
.subscribe-newsletter .error-button .icon {
  height: 24px;
}
.subscribe-newsletter .icon {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.subscribe-newsletter .icon path {
  fill: #fff;
}
.subscribe-newsletter .labeled-checkbox {
  display: flex;
  justify-content: center;
}
.subscribe-newsletter .checkbox-container {
  border-color: white;
}
.subscribe-newsletter .checkbox-container input {
  height: auto;
}
.subscribe-newsletter .checkbox-container path {
  fill: white;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
.checkbox-container {
  border: 1.6px solid #4a4a4a;
  border-radius: 2px;
  flex-shrink: 0;
  height: 15px;
  margin-inline-end: 10px;
  margin-top: 5px;
  position: relative;
  width: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.checkbox-container:focus-within .checkmark {
  top: -7.5px;
}
.checkbox-container input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none !important;
  height: 100%;
  left: 0;
  margin: 0 !important;
  outline: none !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}
.checkbox-container .checkmark {
  display: none;
  pointer-events: none;
  position: absolute;
  color: white;
  top: -6px;
  width: 100%;
}
.checkbox-container input:checked ~ .checkmark {
  display: block;
}
.labeled-checkbox {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.checkbox-container,
.labeled-form-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .login-section {
    background-color: white;
  }
}
