@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@600&family=Zilla+Slab:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.text-button {
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Zilla Slab", "Georgia", "Utopia", "Charter", serif;
}

/* Preloader */

.preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
}

.spinner {
  align-items: center;
  animation: spinner-fade-in 0.5s ease-in forwards;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 3em;
  -webkit-animation: spinner-fade-in 0.5s ease-in forwards;
}
.spinner .spinner__shape {
  animation: spin 4s linear infinite;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 10rem;
  opacity: 1;
  transition: opacity .2s linear;
  width: 10rem;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  -webkit-animation: spin 4s linear infinite;
}
.spinner--light .spinner__shape {
  background-color: white;
}
.spinner--floating {
  align-items: center;
  animation: spinner-fade-in 0.5s ease-in forwards;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
  -webkit-animation: spinner-fade-in 0.5s ease-in forwards;
}
.spinner--floating,
.spinner--floating .spinner__shape {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
@keyframes spinner-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  50% {
    border-radius: 0;
  }
  to {
    transform: rotate(-1turn);
  }
}

/* Landing page */

.header {
  border-bottom: 1px solid #f3f2f0;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  position: relative;
}

.header .logo img {
  width: 7.5rem;
}

.header .logo {
  width: 14rem;
}

.header nav a {
  color: #000;
}

.header nav a:hover {
  color: initial;
}

.header .count img {
  width: 1.2rem;
}

.header .count span {
  font-size: 1rem;
  font-weight: 800;
}

.header .count .speaking-count {
  color: #7a003c;
}

.header .count .listening-count {
  color: #fdbf57;
}

.header .count .divider {
  /* border-inline-end: 1px solid #e6e5e3; */
  background-color: #ededf0;
  /* border-top: 1px solid #e6e5e3; */
  margin: 1.5px 0.5rem;
  padding: 0;
  height: 1.2rem;
  width: 1px;
}

.header button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: black;
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#hamburger-menu {
  border: none;
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  background-color: unset;
}

.menu-icon {
  transform: scale(2);
}

.mobile-nav a {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

.mobile-nav {
  z-index: 5;
  padding: 50px 0;
  min-height: 100vh;
  width: 100%;
  top: 0;
  transform: translateY(-100vh);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  background-color: white;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
}

.mobile-nav.active {
  display: block;
  pointer-events: all;
  transform: translateY(0);
  transition-duration: 0.5s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.menu-icon {
  transform: scale(2);
}
.menu-icon rect {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-icon.active .left {
  transform: translateX(-4px);
}
.menu-icon.active .right {
  transform: translateX(4px);
}

.mobile-nav nav {
  padding: 0 30px;
}

.btn {
  box-shadow: none !important;
}

.mobile-nav .btn {
  background-color: black;
  color: white;
  padding: 14px 0;
}

.btn-container {
  background-image: linear-gradient(359deg, white, #f3f2f0);
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .mobile-nav {
    padding: 80px 0;
  }
}

.hero-section .hero-box {
  height: 500px;
  padding: 130px 100px 0;
  width: 100%;
  position: relative;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section .hero-box:before {
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: opacity linear 0.5s;
  width: 100%;
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -ms-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
}

.hero-box h1 {
  font-size: 44px;
  font-weight: 400;
}

.hero-box h3 {
  font-size: 20px;
  font-weight: 400;
}

.hero-section .speak::before {
  background-image: url(../imgs/speak.svg);
}

.hero-section .listen::before {
  background-image: url(../imgs/listen.svg);
}

.primary-button a {
  width: 88px;
  height: 88px;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
}

.primary-button .background {
  border-radius: 50%;
  filter: blur(7.6px);
  height: 80px;
  margin: 0 auto;
  position: absolute;
  transition: opacity 0.2s linear;
  width: 80px;
  will-change: opacity;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-filter: blur(7.6px);
}

.hero-box .primary-button .background {
  height: 100px;
  width: 100px;
}

.primary-button.play .background,
.primary-button.record .background {
  background: linear-gradient(270deg, #f6cf8b, #fdbf57);
  opacity: 0.6;
}
.primary-button.stop .background {
  background: linear-gradient(to right, #ff0080, #900149);
  opacity: 0.4;
}
.primary-button:hover .background {
  opacity: 1 !important;
}

.hero-box .primary-button svg {
  width: 2.2rem;
  height: 2.2rem;
}

.primary-button a {
  z-index: 1;
}

.hero-section {
  border-top: 1px solid #f3f2f0;
  width: 100% !important;
  overflow: hidden;
}

.hero-box .toggleable {
  opacity: 0;
  transform: translateY(50px);
  transition: width 0.5s linear, height 0.5s linear, opacity 0.2s,
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-transition: width 0.5s linear, height 0.5s linear, opacity 0.2s;
  -moz-transition: width 0.5s linear, height 0.5s linear, opacity 0.2s;
  -ms-transition: width 0.5s linear, height 0.5s linear, opacity 0.2s;
  -o-transition: width 0.5s linear, height 0.5s linear, opacity 0.2s;
}

/* .hero-box .toggleable .description {
  width: 206px;
  height: 125px;
} */

.hero-box .progress {
  width: 200px;
  /* height: 370px; */
  overflow: unset;
  background-color: unset;
}

@media screen and (max-width: 1300px) {
  .hero-section .hero-box {
    padding: 130px 50px 0;
  }
  .hero-box .toggleable .description {
    width: 160px;
    height: 100px;
  }
  .hero-box .progress {
    width: 80px;
  }
}

@media (min-width: 992px) {
  .hero-box.active {
    width: 60%;
  }
  .hero-box.compressed {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .header .count .divider {
    border-inline-end: 1px solid #e6e5e3;
    border-top: 1px solid #e6e5e3;
    height: 1px;
    width: 50%;
  }
  .hero-box .toggleable.description-container .description {
    width: 0px;
    height: 0px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-box .description-container.active .description {
    width: 206px;
    height: 125px;
  }
  .hero-box .toggleable.description-container {
    order: 1;
  }
  .hero-section .hero-box {
    max-height: 500px;
    width: 100%;
    padding: 40px 0 90px;
  }
  .hero-box .progress {
    width: 145px;
    height: fit-content;
    order: 2;
  }
  .hero-box .title {
    width: unset;
  }
  .hero-box .cta {
    order: 3;
  }
}

.hero-box.active:before {
  opacity: 1;
}

.hero-box.active .toggleable {
  opacity: 1;
  transform: translateY(0);
  transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -moz-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -ms-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  -o-transition: width 0.5s, height 0.5s, opacity 0.5s linear 0.5s,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.hero-box.active .primary-button.stop a {
  background: #7a003c;
}

.hero-box.active .primary-button.stop a path {
  fill: white;
}

.hero-box.active .primary-button.play a {
  background: #fdbf57;
}

.hero-box.active .primary-button.play a path {
  fill: white;
}

.hero-box .fading {
  background: url(../imgs/fading.svg);
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-box.listen .fading {
  left: -1px;
  transform: scaleX(-1);
}

.hero-box.speak .fading {
  left: auto;
  right: -1px;
}

.hero-box a.terms {
  color: #629ff4;
  display: block;
  font-size: 14px;
  font-weight: 600;
  /* margin-top: 20px; */
  text-decoration: underline;
}

.hero-box .line.listen {
  background: #fdbf57;
}

.hero-box.listen .fading {
  left: -1px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/* About section */

.about-section .text {
  background: #f9f9f8;
}
@media (max-width: 767px) {
  .about-section .text {
    padding: 30px 20px 15px;
  }
}

@media (max-width: 992px) {
  .hero-box .title {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .about-section .text {
    padding: 95px 20px 225px;
  }
  /* .about-section .text .description,
    .about-section .text .title {
      max-width: 570px;
      width: 50%;
    } */
}
.about-section .text .title h1 {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .about-section .text .title h1 {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .about-section .text .title h1 {
    font-size: 34px;
    max-width: 520px;
  }
  /* .about-section .text .description {
      width: 50%;
    } */
}
.about-section .text .description p {
  color: #4a4a4a;
  line-height: 1.5;
  max-width: 475px;
}
.more-text {
  display: none;
}
.about-section .text .show-more {
  border: none;
  color: #629ff4;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding: 0;
  text-transform: uppercase;
}

/* Stats section */
@media (min-width: 992px) {
  .stats-section .stats {
    margin-bottom: -70px;
  }
  .stats-section .stats > * {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
  }
}

.language-select {
  position: relative;
}
.language-select .current {
  background: url(../imgs/down-arrow.svg) no-repeat 90% center;
  background-size: 10px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  max-height: 50px;
  min-width: 220px;
  padding: 13px 45px 13px 22px;
}
.language-select .current:hover {
  background-color: #f3f2f1;
}
@media (max-width: 991px) {
  .language-select .current {
    margin-top: 15px;
  }
}
.language-select ul {
  background: white;
  box-shadow: 0 2px 5px 0 #f3f2f0;
  color: #4a4a4a;
  list-style: none;
  margin: 1px 0 0;
  max-height: 190px;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.language-select ul li {
  border-bottom: 1px solid #f3f2f0;
  cursor: pointer;
  padding: 13px 22px;
}
.language-select ul li:last-child .line {
  border-bottom: 0;
}
.language-select ul li.selected {
  font-weight: 600;
}
.language-select ul li.highlighted {
  background: #f3f2f0;
}
.plot {
  height: 170px;
  margin-top: 28px;
}
.plot .tick-label {
  fill: #959595;
  font-size: 12px;
}
.plot rect.bg {
  fill: #e7e5e2;
}
.plot rect.current {
  fill: #fdbf57;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.home-card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 6px, rgba(0, 0, 0, 0.09) 0 1px 4px;
  max-width: 570px;
  padding: 25px 30px;
  width: 100%;
}
.home-card .head {
  min-height: 63px;
}
.home-card .metrics > * {
  border-inline-end: 1px solid #e7e5e2;
  padding: 0 15px;
}
.home-card .metrics > :first-child {
  padding-inline-start: 0;
}
.home-card .metrics > :last-child {
  border-inline-end: none;
}
.home-card .metric .label {
  color: #959595;
  font-size: 12px;
  letter-spacing: 0.5px;
  min-height: 32px;
}
.home-card path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
  -webkit-animation: dash 1s linear forwards;
}
.home-card path.total {
  stroke: #7a003c;
}
.home-card path.valid {
  stroke: #fdbf57;
}
.home-card path.unverified {
  stroke: #629ff4;
}
.home-card circle {
  animation: fade-in 0.2s linear 0.5s forwards;
  opacity: 0;
  -webkit-animation: fade-in 0.2s linear 0.5s forwards;
}
.home-card circle.inner.total {
  fill: #7a003c;
}
.home-card circle.inner.valid {
  fill: #fdbf57;
}
.home-card circle.inner.unverified {
  fill: #629ff4;
}
.home-card circle.outer.total {
  filter: drop-shadow(0 3px 3px #7a003c);
  -webkit-filter: drop-shadow(0 3px 3px #7a003c);
}
.home-card circle.outer.valid {
  filter: drop-shadow(0 3px 3px #fdbf57);
  -webkit-filter: drop-shadow(0 3px 3px #fdbf57);
}
.home-card circle.outer.unverified {
  filter: drop-shadow(0 3px 3px #629ff4);
  -webkit-filter: drop-shadow(0 3px 3px #629ff4);
}
.home-card h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.home-card .online-voices {
  color: #fdbf57;
  font-size: 24px;
  font-weight: 600;
}
.metric-value {
  font-weight: 600;
}
.metric-value.total {
  color: #7a003c;
}
.metric-value.valid {
  color: #fdbf57;
}
.metric-value.unverified {
  color: #629ff4;
}
.metric-value .point {
  font-size: 20px;
  margin-inline-end: 6px;
  margin-top: -3px;
}

/* Registration Section */

.register-section {
  overflow-x: hidden;
}

.register-section .top {
  max-width: 76rem;
}

@media (max-width: 767px) {
  .register-section .top .images-container {
    width: 100%;
  }
}

.register-section .top .images-container .mic {
  width: 290px;
  z-index: 1;
}

.register-section .top .images-container .screenshot {
  max-width: 500px;
}

.register-section h1,
.register-section h2 {
  max-width: 450px;
  width: 100%;
}
.register-section h1 {
  font-family: "Zilla Slab", "Georgia", "Utopia", "Charter", serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.register-section h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
.register-section .button {
  background: #629ff4;
  color: white;
  height: 57px;
  max-width: 270px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  height: 3rem;
  min-width: 14rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.register-section .button:hover {
  border: 1px solid #629ff4 !important;
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  .register-section.flipped .top {
    flex-direction: row-reverse;
  }
  .register-section.flipped .waves {
    transform: scaleX(-1) translateX(60%);
    z-index: 0;
  }
  .register-section.flipped .bg {
    left: auto;
    right: 0;
  }
}
[dir="rtl"] .signup-info .tabs .waves {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
.signup-info {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .signup-info {
    max-width: 550px;
  }
}
.signup-info .tabs {
  border-bottom: 2px solid #f3f2f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.signup-info .tabs .waves {
  bottom: -5px;
  pointer-events: none;
  position: absolute;
  width: 100vw;
}
.signup-info .tabs label {
  color: #959595;
  cursor: pointer;
  min-width: 120px;
}

.steps {
  display: none;
}

.steps.active {
  display: block;
}

.signup-info .tabs div {
  padding-bottom: 14px;
  position: relative;
  top: 1px;
}
.signup-info .tabs input {
  display: none;
}
.signup-info .tabs :checked + div {
  border-bottom: 2px solid black;
  color: black;
}
.signup-info .list-and-bg {
  position: relative;
}
.signup-info .bg {
  background-image: linear-gradient(to bottom, #f3f2f1 3%, hsla(0, 8%, 97%, 0));
  height: 100%;
  left: 0;
  position: absolute;
  width: 100vw;
}
.signup-info ul {
  background: white;
  list-style: none;
  margin-top: 0;
  overflow: auto;
  padding: 30px 20px;
  position: relative;
}
@media (max-width: 767px) {
  .signup-info ul {
    max-height: 50vh;
  }
}
@media (min-width: 768px) {
  .signup-info ul {
    max-height: 450px;
  }
}
.signup-info li {
  color: #4a4a4a;
  cursor: pointer;
  padding: 40px 80px 40px 30px;
}
.signup-info li.active {
  background: #f3f2f1;
  color: black;
}
.signup-info li :first-child {
  flex-shrink: 0;
  width: 30px;
}

/* .steps .ui-selecting {
  background: #f3f2f0;
}
.steps .ui-selected {
  background: #f3f2f1;
} */
/* Footer */

footer {
  background-color: black;
  flex-shrink: 0;
}
#help-links {
  background-color: #f3f2f0;
  height: 6rem;
}
@media (min-width: 768px) {
  #help-links {
    height: 9.3rem;
  }
}
#help-links a,
#help-links button {
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  width: 10rem;
  color: black;
}
@media (min-width: 768px) {
  #help-links a,
  #help-links button {
    font-size: 16px;
  }
}
#help-links a:hover,
#help-links button:hover {
  opacity: 0.6;
}
#help-links img {
  margin-bottom: 0.3rem;
  width: 21px;
}
@media (min-width: 768px) {
  #help-links img {
    width: 26px;
  }
}
#help-links .divider {
  border-right: 2px solid #a9a9a9;
  height: 2.5rem;
}
@media (min-width: 768px) {
  #help-links .divider {
    display: block;
  }
}
#mc-links {
  color: white;
  font-size: 0.9rem;
  height: 100%;
  padding: 1rem;
}
@media (min-width: 1200px) {
  #mc-links {
    margin: 0 auto;
    max-width: 76rem;
    padding: 0.4rem 0;
    width: 100%;
  }
  #mc-links > * {
    margin: 2rem 0;
  }
}
#mc-links a {
  color: #959595;
}
#mc-links a:hover {
  color: #629ff4;
}
#mc-links .logo-container {
  flex: 1;
  margin-top: 4rem;
}
@media (min-width: 1200px) {
  #mc-links .logo-container {
    margin-right: 8rem;
    margin-top: 0;
    min-width: 9rem;
  }
}
#mc-links .logo-container .Logo {
  font-size: 1rem;
  padding-right: 4rem;
}
#mc-links .logo-container .Logo,
#mc-links .logo-container .LogoImage {
  height: 4rem;
  max-height: 4rem;
}
@media (min-width: 1200px) {
  #mc-links .logo-container .Logo,
  #mc-links .logo-container .LogoImage {
    height: auto;
  }
}
#mc-links .logo-container .license {
  font-size: 0.7rem;
}
@media (min-width: 1200px) {
  #mc-links .logo-container .license {
    margin-top: 1.5rem;
  }
}
#mc-links .divider-bottom {
  border-top: 1px solid #333;
  display: block;
  margin-top: 1em;
  width: 20rem;
}
@media (min-width: 768px) {
  #mc-links .divider-bottom {
    display: none;
  }
}
#mc-links .links {
  flex: 1;
  margin-top: 2rem;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 1200px) {
  #mc-links .links {
    margin-right: 4rem;
    margin-top: 0;
    max-width: 18rem;
    padding: 0;
  }
}
#mc-links .links a {
  margin-bottom: 8px;
}
#mc-links .links .divider-vertical {
  border-right: 1px solid #333;
  height: 4.1rem;
}
#mc-links .back-top {
  color: #fff;
  margin-top: 1rem;
  order: -1;
}
@media (min-width: 1200px) {
  #mc-links .back-top {
    display: none;
  }
}
#mc-links :focus.focus-visible {
  outline: 1px solid #fff;
}
#sharing {
  background-color: hsla(0, 0%, 100%, 0.1);
  flex: 1;
  max-width: 260px;
  padding: 1.5rem 2rem;
}
#sharing .title {
  color: #959595;
  font-family: sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}
#sharing .icons {
  width: 60%;
}
#sharing .icons > * {
  margin: 0 21px;
}

#sharing .icons span {
  font-size: 200%;
  color: white;
}

#sharing .icons span:hover {
  color: #629ff4;
}

#link-copy {
  background: transparent;
  border: none;
  padding: 0;
  width: auto;
}
#link-copy:active {
  color: black;
}
#link-copy:hover {
  color: #629ff4;
}
#link-copy input {
  left: 1000rem;
  position: fixed;
  top: 1000rem;
}

#email-subscription {
  flex: 1.5;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  #email-subscription {
    padding: 1.5rem 2rem;
  }
}
.subscribe-newsletter {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.subscribe-newsletter .goal-title,
.subscribe-newsletter .title {
  color: #959595;
  margin-bottom: 10px;
}
.subscribe-newsletter .goal-title {
  font-size: 14px;
  line-height: 1.71;
}
.subscribe-newsletter .submittable-field {
  margin-bottom: 20px;
}
.subscribe-newsletter button,
.subscribe-newsletter input {
  height: 42px;
}
.subscribe-newsletter input {
  background: hsla(0, 0%, 100%, 0.1);
  border: none;
  flex: 6;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}
.subscribe-newsletter input:focus {
  outline: none !important;
}
.subscribe-newsletter input.has-value,
.subscribe-newsletter input:focus {
  background: white;
}
.subscribe-newsletter input::placeholder {
  color: #959595;
}
.subscribe-newsletter button {
  align-self: flex-end;
  border: none;
  outline: none;
  position: relative;
  transition: all 0.3s;
  width: 45px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.subscribe-newsletter .submit-button {
  background-color: #629ff4;
}
.subscribe-newsletter .submit-button .icon {
  height: 12px;
}
.subscribe-newsletter .success-button {
  background-color: #fdbf57;
}
.subscribe-newsletter .success-button .icon {
  height: 25px;
}
.subscribe-newsletter .error-button {
  background-color: #7a003c;
}
.subscribe-newsletter .error-button .icon {
  height: 24px;
}
.subscribe-newsletter .icon {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.subscribe-newsletter .icon path {
  fill: #fff;
}
.subscribe-newsletter .checkbox-container {
  border-color: white;
}
.subscribe-newsletter .checkbox-container input {
  height: auto;
}
.subscribe-newsletter .checkbox-container path {
  fill: white;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
.checkbox-container {
  border: 1.6px solid #4a4a4a;
  border-radius: 2px;
  flex-shrink: 0;
  height: 15px;
  margin-inline-end: 10px;
  margin-top: 5px;
  position: relative;
  width: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.checkbox-container:focus-within .checkmark {
  top: -7.5px;
}
.checkbox-container input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none !important;
  height: 100%;
  left: 0;
  margin: 0 !important;
  outline: none !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}
.checkbox-container .checkmark {
  display: none;
  pointer-events: none;
  position: absolute;
  color: white;
  top: -6px;
  width: 100%;
}
.checkbox-container input:checked ~ .checkmark {
  display: block;
}

.copy-link-notification {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 16px;
  z-index: 100;
}

.notification-pill {
  padding: .2rem 1rem;
  font-size: .65rem;
}

.notification-pill svg {
  font-size: 1.2rem;
}

.notification-pill.success {
  background: #59cbb7;
}